body { padding:0; margin:0; background-color:#fafafa; }
button {cursor:pointer;}
main { padding:20px 10px; margin:0 auto; max-width:1370px; }
table { border: 3px dashed pink; }
th { font-weight:bold; }
td, th { border:1px solid black; padding:5px 2px; background-color:white; }
button, input, select { padding: 2px 6px 3px 6px; font-size:11px; margin:2px;}

.btn { background-color:white; color:black; border:1px solid rgba(0,0,0,.5); border-radius:2px; }
.btn.btn-chromatic {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  text-shadow: -1px -1px 0 rgba(0,0,0,.4), 1px -1px 0  rgba(0,0,0,.4), -1px 1px 0  rgba(0,0,0,.4), 1px 1px 0  rgba(0,0,0,.4);
 }
 .btn.btn-blu { background-color:rgb(30,90,255); color:white; }
 .btn.btn-red { background-color:rgb(200,0,0); color:white; }

.tn { position:relative; display:flex; background-color:white; width:100%; border-bottom:1px solid rgba(0,0,0,.5); box-shadow:1px 0 8px rgba(0,0,0,.5); }
.tn_content { display:flex; width:100%; max-width:1390px; margin:0 auto; }
.tn .logo img, .tn .amburgla img { border-radius:5px; height:50px; }
.nav_item { position:relative; padding: 0 20px; text-decoration: none; color: rgba(0,0,0,.7); font-weight:Bold; font-size:.82em; }
.nav_item:hover { background-color:rgba(0,0,0,.1); color:blue; }
.nav_item>span { position:relative; top:28px; }
.nav_item svg { height:1em; width:1em;top: 2px; position: relative; }
.logo, .amburgla { padding:5px; }
.logo { justify-content: flex-start; align-items: middle; margin-righT:15px; }
.note_logo { height:50px !important; width:50px; }
.amburgla { margin-left:auto; }
.amburgla img:hover { filter:invert(100%); }

.template { display: flex; justify-content: space-between; flex-direction: column; padding-bottom:5px; margin-bottom:8px; background-color:#eaeaea; border-radius:4px; box-shadow:-2px 2px 4px rgba(0,0,0,.1);border:1px solid #bbb; }
.instrument { display:flex; margin-top:15px; text-align:center; padding-left:5px; }
.controls { display:flex; flex-direction: row; background-color:#bbb; padding:5px; border-top-left-radius:3px; border-top-right-radius:3px; }
.scale-form { background-color:rgba(0,0,0,.4); border-radius:4px; padding:0 5px; margin-left:5px; }
.g.hidden, .k.hidden { display: none !important; }

.k {}
.k .o, .k .n { display: inline-block; }
.k .n { padding: 15px 0; position: relative; width: 10px; font-size:.6em; }
.n._1, .n._6 { margin-left: -5px; }
.n._3, .n._5, .n._8, .n._10, .n._12 { margin-left: -15px; }
.n._2, .n._4, .n._7, .n._9, .n._11 { background-color:black; border:1px solid black;color:white; left:-4px; margin-left:-6px; top:-4px; z-index:2; }
.n._1, .n._3, .n._5, .n._6, .n._8, .n._10, .n._12 { background-color:snow; border:1px solid black; padding-bottom:40px; width:17px; }

.g { background-color:rgba(155,125,100,.6); display:inline-block; padding:3px 5px; }
.g .sg { background-color:rgba(255,255,255,.75); padding-top:2px; }
.g .sg .sgn { border-right:2px solid rgba(0,0,0,.25); color: transparent; display:inline-block; margin-left:-4px; max-width:38px; overflow:hidden; width:38px; }
.g .sg .sgn:first-child { margin-left:0; }
.g .sg .sgn.m { color: black;}
.g .s { border-top: 4px solid grey; display: flex; }
.g .s:last-child { border-bottom: 4px solid grey; }
.g .s .n { border-right: 2px solid black; line-height: 22px; width: 38px; font-size:.8em; }
.g .s .n:first-child { border-right: 4px solid white; }
.g .s .n:last-child { border-right: 4px solid black; }
.g .w1 { min-width:80px; }
.g .w2 { min-width:70px; }
.g .w3 { min-width:55px; }
.g .w4 { min-width:47px;max-width:47px; }
.g .w5 { min-width:38px;min-width:38px; }
.g .w6 { min-width:30px;min-width:30px; }

.n { letter-spacing: -3px; }
.names_hidden .n { color: transparent; }
.names_shown.g .n, .names_shown .n._1, .names_shown .n._3, .names_shown .n._5, .names_shown .n._6, .names_shown .n._8, .names_shown .n._10, .names_shown .n._12 { color: black; }
.names_shown .n._2, .names_shown .n._4, .names_shown .n._7, .names_shown .n._9, .names_shown .n._11 { color: white; }

.notes_highlighted .n[data-n="1"], .notes_highlighted.n[data-n="1"] { background-color:#f00; }
.notes_highlighted .n[data-n="2"], .notes_highlighted.n[data-n="2"] { background-color:#f90; }
.notes_highlighted .n[data-n="3"], .notes_highlighted.n[data-n="3"] { background-color:#ff0; }
.notes_highlighted .n[data-n="4"], .notes_highlighted.n[data-n="4"] { background-color:#9f0; }
.notes_highlighted .n[data-n="5"], .notes_highlighted.n[data-n="5"] { background-color:#0f0; }
.notes_highlighted .n[data-n="6"], .notes_highlighted.n[data-n="6"] { background-color:#0f9; }
.notes_highlighted .n[data-n="7"], .notes_highlighted.n[data-n="7"] { background-color:#0ff; }
.notes_highlighted .n[data-n="8"], .notes_highlighted.n[data-n="8"] { background-color:#09f; }
.notes_highlighted .n[data-n="9"], .notes_highlighted.n[data-n="9"] { background-color:#00f; }
.notes_highlighted .n[data-n="10"], .notes_highlighted.n[data-n="10"] { background-color:#90f; }
.notes_highlighted .n[data-n="11"], .notes_highlighted.n[data-n="11"] { background-color:#f0f; }
.notes_highlighted .n[data-n="12"], .notes_highlighted.n[data-n="12"] { background-color:#f09; }
.notes_highlighted.names_shown .n, .names_shown .notes_highlighted.n { color:white; }
.notes_highlighted.names_shown .n[data-n="3"], .names_shown .notes_highlighted.n[data-n="3"] { color:black; }
.notes_highlighted.names_shown .n[data-n="4"], .names_shown .notes_highlighted.n[data-n="4"] { color:black; }
.notes_highlighted.names_shown .n[data-n="5"], .names_shown .notes_highlighted.n[data-n="5"] { color:black; }
.notes_highlighted.names_shown .n[data-n="6"], .names_shown .notes_highlighted.n[data-n="6"] { color:black; }
.notes_highlighted.names_shown .n[data-n="7"], .names_shown .notes_highlighted.n[data-n="7"] { color:black; }

th.thirds { background-color:rgba(0,200,0,.4) }
td.thirds { background-color:rgba(0,200,0,.1) }
th.twos { background-color:rgba(0,0,100,.4) }
td.twos { background-color:rgba(0,0,100,.1) }
th.bpm { background-color:black; color:White;}

/* -start _OLD_ TODOLIST
......................................................
[ ]a. octave brackets
[ ]b. hamburgler css wiggle on hover
[ ]c. left aligned nav pullout menu
[ ]d. circle of fifths page
[ ]e. chords page
[ ]f. staff notation view
[ ]g. frequency spectrum view
[x]1. make instruments collapsible/hide-show
[x]2. add "piano" instrument with 88keys
[ ]3. add "keyboard octave" instrument with 12 larger keys
[x]4. add Toggle Octave Highlight button , toggles per-octave color highlights
[ ]5. add form & button to generate pseudo random note combinations and highlight them
[ ]6. add buttons to guitar instrument section (submenu?) that allow for orientation flipping (x & y)
[ ]7. guitar graphics upgrade - scaled fretboard , add head and body
[ ]8. type to highlight keys mode ( like renoise keyboard mapping: z=c,x=d,c=e, etc. )
[ ]9. MIDI input
......................................................
 --end  _OLD_ TODOLIST  */
